* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 4%,
    rgba(27, 27, 126, 1) 29%,
    rgba(21, 61, 133, 1) 43%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main-content {
  width: 80%;
  max-width: 350px;
  min-width: 300px;
  height: 250px;
  border-radius: 24px;
  padding: 1rem;
  color: #f2f2f2;

  /*GLASSMORPHISM*/
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 300;
}

.temp-current {
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  position: relative;
}

.temp-current:after {
  position: absolute;
  content: "°";
}

.cond-current {
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
}

.thermal-amp {
  width: 45%;
  margin: 0 auto 0.5rem;
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
}

.amp-max {
  margin-right: 0.2rem;
}

.amp-min {
  margin-left: 0.2rem;
}

.temp-max {
  position: relative;
}

.temp-max::after {
  position: absolute;
  content: "°";
}

.temp-min {
  position: relative;
}
.temp-min::after {
  position: absolute;
  content: "°";
}

.humidity {
  text-align: center;
  text-transform: capitalize;
}

.humidity-data {
  position: relative;
}

.humidity-data::after {
  position: absolute;
  content: "%";
}

.loading {
  display: none;
}

.load-card {
  display: none;
}

.load-card.loading {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.load-card * {
  border-radius: 24px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.025) 30%,
    rgba(255, 255, 255, 0.35) 38%,
    rgba(255, 255, 255, 0.35) 40%,
    rgba(255, 255, 255, 0.025) 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 1.5s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

.load-title {
  height: 34px;
  width: 60%;
  margin: 0 auto 0.2rem;
}

.load-temp {
  height: 58px;
  width: 30%;
  margin: 0 auto;
}

.load-desc {
  height: 23px;
  width: 35%;
  margin: 0.2rem auto;
}

.load-amp {
  height: 23px;
  width: 40%;
  margin: 0 auto 0.5rem;
}

.load-hum {
  height: 23px;
  width: 40%;
  margin: 0 auto;
}
